{% comment %}
    Renders a product upsell

    Accepts:
    - prod: {Object} Product Liquid object
    - size: {String} String. Can be:
      - small
      - large

    Usage:
    {% render 'product-upsell', prod: product, size: 'small' %}
{% endcomment %}

<product-upsell>
  <div>
    {% render 'image'
      image: prod.featured_image,
      classes: 'product-upsell-image w-full aspect-product object-cover overflow-hidden',
      sizes: '400px',
      include_placeholder: true,
      placeholder_name: 'product-2',
      src_set_type: 'thumbnail'
    %}
  </div>

  <div class="mt-10{% if size == 'large' %} flex justify-between items-end gap-20{% endif %}">
    <div class="">
      <h3 class="text-m-body-1 font-serif md:text-body-1">{{ prod.title }}</h3>
      <div class="my-10{% if size == 'small' and prod.has_only_default_variant == false %} flex justify-between items-center flex-row-reverse{% endif %}">
        {% render 'price' product: prod, classes: 'text-cta uppercase' %}

        {% unless prod.has_only_default_variant %}
          {% for option in prod.options_with_values %}
            {% if option.name == 'Color' %}
              <div class="gap-10 {% if option.values.size > 1 %} flex{% else %} hidden{% endif %}{% unless size == 'small' %} mt-10{% endunless %}">
                {% for value in option.values %}
                  {% liquid
                    assign color_swatch_name = value | handleize
                    assign swatch_color = color_swatch_name
                    assign swatch_metaobject = shop.metaobjects.color_swatch[color_swatch_name]

                    if swatch_metaobject.hex_value != blank
                      assign swatch_color = swatch_metaobject.hex_value
                    endif

                    assign is_active = false
                    if option.selected_value == value
                      assign is_active = true
                    endif

                    for current_variant in prod.variants
                      if current_variant.title contains value
                        assign variant = current_variant
                        break
                      endif
                    endfor
                  %}

                  <button
                    class="color-button group/color w-13 h-13 block relative cursor-pointer bg-center{% if is_active %} active{% endif %}"
                    style="{% if swatch_metaobject.swatch_image != blank %}background-image: url('{{ swatch_metaobject.swatch_image | img_url: '50x' }}');{% else %}background-color: {{ swatch_color }};{% endif %}"
                    data-value="{{ value }}"
                    data-position="{{ option.position }}"
                    data-id="{{ variant.id }}"
                    {% if variant.image %}data-image="{{ variant.image | img_url: '800x' }}"{% endif %}
                  >
                    <div class="visually-hidden">{{ value }}</div>
                    <div class="absolute right-0 -bottom-[4px] left-0 border-b-1 border-transparent transition-colors group-[.active]/color:border-black"></div>
                  </button>
                {% endfor %} 
              </div>
              {% unless option.values.size > 1 %}
                <p class="text-body-2">{{ option.values[0] }}</p>
              {% endunless %}
            {% endif %}
          {% endfor %}
        {% endunless %}
      </div>
    </div>

    {% unless prod.has_only_default_variant %}
      <div class="grid grid-cols-2{% if size == 'large' %} min-w-[140px]{% else %} mt-10{% endif %}">
        {% for option in prod.options_with_values %}
          {% if option.name == 'Size' %}
            {%- liquid
              assign variants_available_arr = prod.variants | map: 'available'
              assign variants_option1_arr = prod.variants | map: 'option1'
              assign variants_option2_arr = prod.variants | map: 'option2'
              assign variants_option3_arr = prod.variants | map: 'option3'
            -%}
            <div class="relative">
              <label for="size-dropdown" class="hidden visually-hidden">Select Size</label>
              <select id="size-dropdown"  class="size-dropdown select__select w-full h-full px-15 text-cta bg-transparent border-1 rounded-none border-cream" data-size-dropdown data-position="{{ option.position }}">
                {% for value in option.values %}
                  {%- liquid
                    assign option_disabled = true

                    for option1_name in variants_option1_arr
                      case option.position
                        when 1
                          if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                            assign option_disabled = false
                          endif
                        when 2
                          if option1_name == prod.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                            assign option_disabled = false
                          endif
                        when 3
                          if option1_name == prod.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == prod.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                            assign option_disabled = false
                          endif
                      endcase
                    endfor
                  -%}
                  <option value="{{ value }}"{% if option_disabled %} disabled{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
              <div class="absolute right-15 top-half -translate-y-half">
                {% render 'icon' icon: 'dropdown' %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
        <button class="w-full button p-10" data-add-to-cart>Add</button>
      </div>
    {% else %}
      <button class="button p-10{% if size == 'large' %} min-w-70{% else %} w-full{% endif %}" data-add-to-cart data-variant-id="{{ prod.selected_or_first_available_variant.id }}">Add</button>
    {% endunless %}
  </div>

  <script class="product-upsell-data" type="application/json">
    {{ prod.variants | json }}
  </script>
</product-upsell>