{% liquid
  assign current_product = all_products[block.settings.product]

  assign position = 'right-15 top-20'
  case block.settings.card_position
    when 'top_left'
      assign position = 'right-15 bottom-20'
    when 'top_right'
      assign position = 'right-15 bottom-20'
    when 'bottom_right'
      assign position = 'left-15 top-20'
  endcase
%}
<div class="interactive-hero__item group/item md:absolute" style="top: {{ block.settings.pos_y }}%;left: {{ block.settings.pos_x }}%;" {{ block.shopify_attributes }}>
  <button class="interactive-hero__button hidden md:block" aria-label="Shop now">
    <svg class="relative z-20 transition-transform group-[.active]/item:rotate-[45deg]" width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.833984" y="0.451172" width="30" height="30" rx="15" fill="#E6D5C2"/><path d="M16.5861 14.9319L16.5861 9.08249L15.3855 9.08249L15.3855 14.9319L9.35378 14.9319L9.35378 16.1324L15.3855 16.1324L15.3855 22.2884L16.5861 22.2884L16.5861 16.1324L22.5597 16.1324V14.9319L16.5861 14.9319Z" fill="#472715"/></svg>
  </button>
  <a href="{{ current_product.url }}" class="interactive-hero__product w-[330px] mx-auto {{ position }} py-10 pl-10 pr-20 grid grid-cols-[75px_1fr] gap-20 bg-beige border-1 border-taupe/30 md:opacity-0 md:transition-opacity md:group-[.active]/item:opacity-100 md:absolute md:w-[300px] md:m-0 md:border-0">
    <div class="w-full aspect-tall overflow-hidden relative">
      {% render 'image'
        image: current_product.image,
        classes: 'w-full aspect-tall object-cover',
        sizes: '200px',
        include_placeholder: true,
        placeholder_name: 'product-1',
        fallback_alt: current_product.title,
        src_set_type: 'thumbnail'
      %}
    </div>
    <div class="flex flex-col justify-between gap-20">
      <p class="text-h5 font-serif uppercase">
        {% if current_product.title != blank %}
          {{ current_product.title }}
        {% else %}
          Product Title
        {% endif %}
      </p>
      <div class="flex justify-between items-center gap-20">
        {% render 'price' product: current_product, classes: 'text-m-sh2 uppercase md:text-sh2' %}
        {% render 'icon' icon: 'arrow' %}
      </div>
    </div>
  </a>
</div>

{% schema %}
  {
    "name": "Interactive Hero Product",
    "tag": null,
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      },
      {
        "type": "range",
        "id": "pos_x",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0,
        "unit": "%",
        "label": "Position (X)"
      },
      {
        "type": "range",
        "id": "pos_y",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0,
        "unit": "%",
        "label": "Position (Y)"
      },
      {
        "type": "select",
        "id": "card_position",
        "options": [
          { "value": "top_left", "label": "Top Left" },
          { "value": "top_right", "label": "Top Right" },
          { "value": "bottom_left", "label": "Bottom Left" },
          { "value": "bottom_right", "label": "Bottom Right" }
        ],
        "default": "bottom_left",
        "label": "Card Position"
      }
    ],
    "presets": [
      {
        "name": "Interactive Hero Product"
      }
    ]
  }
{% endschema %}