{% assign bg_color = section.settings.background_color %}

<countdown-timer>
  <div class="{% if bg_color != blank and bg_color != 'rgba(0,0,0,0)' %} py-60" style="background-color: {{ bg_color }}"{% else %} my-60{% endif %}">
    <div class="page-width flex gap-40 justify-around items-center flex-wrap">
      {% if section.settings.title != blank %}
        <h2 class="text-m-h1 font-serif italic md:text-h1" data-animate>{{ section.settings.title }}</h2>
      {% endif %}

      <div class="flex items-center text-center border-l-1 border-r-1 border-sage" data-animate>
        <div class="px-15 border-r-1 border-sage md:px-30">
          <h1 class="text-m-h1 font-serif italic md:text-h1" data-days>0</h1>
          <p class="mt-10 text-m-sh1 uppercase md:text-sh2">Days</p>
        </div>
        <div class="px-15 border-r-1 border-sage md:px-30">
          <h1 class="text-m-h1 font-serif italic md:text-h1" data-hours>0</h1>
          <p class="mt-10 text-m-sh1 uppercase md:text-sh2">Hours</p>
        </div>
        <div class="px-15 border-r-1 border-sage md:px-30">
          <h1 class="text-m-h1 font-serif italic md:text-h1" data-minutes>0</h1>
          <p class="mt-10 text-m-sh1 uppercase md:text-sh2">Minutes</p>
        </div>
        <div class="px-15 md:px-30">
          <h1 class="text-m-h1 font-serif italic md:text-h1" data-seconds>0</h1>
          <p class="mt-10 text-m-sh1 uppercase md:text-sh2">Seconds</p>
        </div>
      </div>

      {% if section.settings.button_label != blank %}
        <span data-animate>
          {% if section.settings.button_style == 'button' %}
            <a href="{{ section.settings.button_link }}" class="w-fit button">{{ section.settings.button_label }}</a>
          {% else %}
            {% render 'text-link' link: section.settings.button_link, label: section.settings.button_label %}
          {% endif %}
        </span>
      {% endif %}
    </div>
  </div>

  <script type="application/json" data-settings>
    {
      "year": {{ section.settings.year | json }},
      "month": {{ section.settings.month | json }},
      "day": {{ section.settings.day | json }},
      "hour": {{ section.settings.hour | json }},
      "minute": {{ section.settings.minute | json }},
      "shopTimezone": {{ 'now' | date: '%z' | json }},
      "hideWhenComplete": {{ section.settings.hide_when_complete | json }}
    }
  </script>
</countdown-timer>

{% schema %}
  {
    "name": "Countdown",
    "settings": [
      {
        "type": "header",
        "content": "Config"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#EBF1E6"
      },
      {
        "type": "header",
        "content": "Timer"
      },
      {
        "type": "number",
        "id": "year",
        "label": "Year",
        "default": 2024
      },
      {
        "type": "select",
        "id": "month",
        "options": [
          { "value": "january", "label": "January" },
          { "value": "february", "label": "February" },
          { "value": "march", "label": "March" },
          { "value": "april", "label": "April" },
          { "value": "may", "label": "May" },
          { "value": "june", "label": "June" },
          { "value": "july", "label": "July" },
          { "value": "august", "label": "August" },
          { "value": "september", "label": "September" },
          { "value": "october", "label": "October" },
          { "value": "november", "label": "November" },
          { "value": "december", "label": "December" }
        ],
        "default": "january",
        "label": "Month"
      },
      {
        "type": "select",
        "id": "day",
        "options": [
          { "value": "1", "label": "1" },
          { "value": "2", "label": "2" },
          { "value": "3", "label": "3" },
          { "value": "4", "label": "4" },
          { "value": "5", "label": "5" },
          { "value": "6", "label": "6" },
          { "value": "7", "label": "7" },
          { "value": "8", "label": "8" },
          { "value": "9", "label": "9" },
          { "value": "10", "label": "10" },
          { "value": "11", "label": "11" },
          { "value": "12", "label": "12" },
          { "value": "13", "label": "13" },
          { "value": "14", "label": "14" },
          { "value": "15", "label": "15" },
          { "value": "16", "label": "16" },
          { "value": "17", "label": "17" },
          { "value": "18", "label": "18" },
          { "value": "19", "label": "19" },
          { "value": "20", "label": "20" },
          { "value": "21", "label": "21" },
          { "value": "22", "label": "22" },
          { "value": "23", "label": "23" },
          { "value": "24", "label": "24" },
          { "value": "25", "label": "25" },
          { "value": "26", "label": "26" },
          { "value": "27", "label": "27" },
          { "value": "28", "label": "28" },
          { "value": "29", "label": "29" },
          { "value": "30", "label": "30" },
          { "value": "31", "label": "31" }
        ],
        "default": "1",
        "label": "Day"
      },
      {
        "type": "select",
        "id": "hour",
        "options": [
          { "value": "0", "label": "12 AM (Midnight)" },
          { "value": "1", "label": "1 AM" },
          { "value": "2", "label": "2 AM" },
          { "value": "3", "label": "3 AM" },
          { "value": "4", "label": "4 AM" },
          { "value": "5", "label": "5 AM" },
          { "value": "6", "label": "6 AM" },
          { "value": "7", "label": "7 AM" },
          { "value": "8", "label": "8 AM" },
          { "value": "9", "label": "9 AM" },
          { "value": "10", "label": "10 AM" },
          { "value": "11", "label": "11 AM" },
          { "value": "12", "label": "12 PM (Noon)" },
          { "value": "13", "label": "1 PM" },
          { "value": "14", "label": "2 PM" },
          { "value": "15", "label": "3 PM" },
          { "value": "16", "label": "4 PM" },
          { "value": "17", "label": "5 PM" },
          { "value": "18", "label": "6 PM" },
          { "value": "19", "label": "7 PM" },
          { "value": "20", "label": "8 PM" },
          { "value": "21", "label": "9 PM" },
          { "value": "22", "label": "10 PM" },
          { "value": "23", "label": "11 PM" }
        ],
        "default": "0",
        "label": "Hour"
      },
      {
        "type": "select",
        "id": "minute",
        "options": [
          { "value": "0", "label": "00" },
          { "value": "1", "label": "01" },
          { "value": "2", "label": "02" },
          { "value": "3", "label": "03" },
          { "value": "4", "label": "04" },
          { "value": "5", "label": "05" },
          { "value": "6", "label": "06" },
          { "value": "7", "label": "07" },
          { "value": "8", "label": "08" },
          { "value": "9", "label": "09" },
          { "value": "10", "label": "10" },
          { "value": "11", "label": "11" },
          { "value": "12", "label": "12" },
          { "value": "13", "label": "13" },
          { "value": "14", "label": "14" },
          { "value": "15", "label": "15" },
          { "value": "16", "label": "16" },
          { "value": "17", "label": "17" },
          { "value": "18", "label": "18" },
          { "value": "19", "label": "19" },
          { "value": "20", "label": "20" },
          { "value": "21", "label": "21" },
          { "value": "22", "label": "22" },
          { "value": "23", "label": "23" },
          { "value": "24", "label": "24" },
          { "value": "25", "label": "25" },
          { "value": "26", "label": "26" },
          { "value": "27", "label": "27" },
          { "value": "28", "label": "28" },
          { "value": "29", "label": "29" },
          { "value": "30", "label": "30" },
          { "value": "31", "label": "31" },
          { "value": "32", "label": "32" },
          { "value": "33", "label": "33" },
          { "value": "34", "label": "34" },
          { "value": "35", "label": "35" },
          { "value": "36", "label": "36" },
          { "value": "37", "label": "37" },
          { "value": "38", "label": "38" },
          { "value": "39", "label": "39" },
          { "value": "40", "label": "40" },
          { "value": "41", "label": "41" },
          { "value": "42", "label": "42" },
          { "value": "43", "label": "43" },
          { "value": "44", "label": "44" },
          { "value": "45", "label": "45" },
          { "value": "46", "label": "46" },
          { "value": "47", "label": "47" },
          { "value": "48", "label": "48" },
          { "value": "49", "label": "49" },
          { "value": "50", "label": "50" },
          { "value": "51", "label": "51" },
          { "value": "52", "label": "52" },
          { "value": "53", "label": "53" },
          { "value": "54", "label": "54" },
          { "value": "55", "label": "55" },
          { "value": "56", "label": "56" },
          { "value": "57", "label": "57" },
          { "value": "58", "label": "58" },
          { "value": "59", "label": "59" }
        ],
        "default": "0",
        "label": "Minute"
      },
      {
        "type": "checkbox",
        "id": "hide_when_complete",
        "label": "Hide timer when complete"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Countdown timer"
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
        "default": "Shop Now"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "select",
        "id": "button_style",
        "options": [
          { "value": "button", "label": "Button" },
          { "value": "text", "label": "Text" }
        ],
        "default": "text",
        "label": "Button Style"
      }
    ],
    "presets": [
      {
        "name": "Countdown",
        "category": "Banners"
      }
    ]
  }
{% endschema %}