{% capture cart %}
  <span class="hidden items-center gap-10 text-cta uppercase md:flex">
    <span>Cart</span>
    {% if cart != empty %}
      <span class="h-0 flex items-center">
        <span class="h-25 w-25 pt-x pl-px flex justify-center items-center rounded-full border-1 border-current">{{ cart.item_count }}</span>
      </span>
    {% endif %}
  </span>
  <span class="relative block md:hidden">
    {% render 'icon' icon: 'cart' %}
    <span class="visually-hidden">Cart</span>
    {% if cart != empty %}
      <span class="size-[8px] bg-taupe absolute top-px right-[-4px] rounded-full">
        <span class="visually-hidden">{{ cart.item_count }}</span>
      </span>
    {% endif %}
  </span>
{% endcapture %}

<site-header>
  <header
    class="header group/header bg-background border-b-1 border-beige"
    data-section-id="{{ section.id }}"
    data-section-type="header"
  >
    <div class="page-width">
      <div class="grid grid-cols-thirds items-center gap-20 md:gap-40">

       <!-- Mobile Menu -->
        <div class="md:hidden">
          <button class="mobile-menu-trigger group/mobile-menu relative">
            <div class="transition-all duration-100 group-[.open]/mobile-menu:opacity-0 group-[.open]/mobile-menu:scale-[.5]">
              {% render 'icon' icon: 'hamburger' %}
            </div>
            <div class="absolute top-half left-half -translate-x-half -translate-y-half opacity-0 scale-[.5] transition-all duration-100 group-[.open]/mobile-menu:opacity-100 group-[.open]/mobile-menu:scale-100">
              {% render 'icon' icon: 'close' %}
            </div>
            <span class="hidden">Menu Icon</span>
          </button>
        </div>

        <!-- Logo -->
        <div class="logo w-full py-20 md:p-0">
          {% if section.settings.logo != blank %}
            <a href="{{ routes.root_url }}" class="relative flex justify-center md:justify-start" aria-label="Header Logo Link">
              {%- liquid
                assign logo_height = 125 | divided_by: section.settings.logo.aspect_ratio | round
              -%}
              {{ section.settings.logo | image_url: width: 250 | image_tag: width: section.settings.logo.width, class: 'header-logo w-full', sizes: '250px', widths: '100, 150, 200, 300', preload: true, fetchpriority: 'high', width: 125, height: logo_height }}
            </a>
          {% else %}
            <a href="{{ routes.root_url }}" class="py-10 text-m-h4 font-bold md:p-0 md:text-h4">{{ shop.name }}</a>
          {% endif %}
        </div>

        <!-- Search -->
        {% if section.settings.enable_search %}
          <predictive-search class="w-full mx-auto hidden md:w-[300px] md:block lg:md:w-[420px] xl:w-[520px]">
            <div class="border-b-1 border-black/35">
              <form action="{{ routes.search_url }}" method="get" role="search" class="w-full">
                <input type="hidden" name="type" value="product">
                <input type="hidden" name="options[prefix]" value="last">
                <div class="flex">
                  <label id="search-label-{{ template.suffix }}" for="search-input-{{ template.suffix }}" class="hidden visually-hidden">Search</label>
                  <input aria-labelledby="search-label-{{ template.suffix }}" id="search-input-{{ template.suffix }}" class="w-full py-[3px] text-body-4 bg-transparent appearance-none cursor-text placeholder:text-text/50 placeholder:text-body-4 focus-visible:outline-0 focus-visible:outline-transparent focus-visible:placeholder:text-text" type="search" name="q" value="{{ search.terms | escape }}" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false" placeholder="Search">
                  <button type="submit" class="opacity-35">{% render 'icon' icon: 'search' %}</button>
                </div>
              </form>
            </div>
            <div class="predictive-search fixed left-0 right-0 top-[var(--header-group-height)] bg-background z-60" style="display: none;"></div>
          </predictive-search>
        {% endif %}

        <!-- Icons -->
        <div class="flex justify-end items-center gap-20 flex-shrink-0 relative md:gap-40 lg:gap-60">
          {% if section.settings.additional_menu != blank %}
            <nav class="hidden md:flex">
              <ul class="hidden items-center gap-20 md:flex md:gap-40 lg:gap-60" role="list">
                {% for link in section.settings.additional_menu.links %}
                  <li class="group/nav flex">
                    <a href="{{ link.url }}" class="text-cta uppercase"{% if link.current %} aria-current="page"{% endif %}>
                      {{ link.title | escape }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </nav>
          {% endif %}

          {% comment %}
          <div>
            <a href="#swym-wishlist" class="swym-wishlist text-cta uppercase hidden md:block group/link md:py-20 relative">
              Wishlist
                <i aria-hidden="true" focusable="false" role="presentation" class="fa fa-heart"></i> 
            </a>
            <a href="#swym-wishlist" class="swym-wishlist text-cta uppercase md:hidden group/link md:py-20 relative">
              <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.6836 0.505859C14.8998 0.442806 15.9126 0.921544 16.6074 1.74512C17.9567 3.3446 18.1849 6.39599 15.9023 9.46582L15.6738 9.7627C13.9681 11.9037 11.4113 13.871 9.06152 15.4941C6.71112 13.8699 4.15679 11.905 2.4502 9.7627C-0.0748214 6.59426 0.122995 3.39527 1.51562 1.74414C2.21034 0.920664 3.22338 0.442782 4.43945 0.505859C5.66479 0.56942 7.14336 1.18681 8.7207 2.65527L9.06152 2.97266L9.40234 2.65527C10.9796 1.18702 12.4582 0.569436 13.6836 0.505859Z" stroke="currentColor"/>
              </svg>
            </a>
          </div>
          {% endcomment %}

          {% if shop.customer_accounts_enabled %}
            <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="group/link relative md:hidden">
              {% render 'icon' icon: 'account' %}
              <span class="visually-hidden">Account</span>
            </a>
          {% endif %}

          {% if template != 'cart' %}
            <button class="relative md:py-20" data-open-cart id="cart-icon-bubble" aria-label="Open Cart Drawer" data-id="{{ section.id }}">
              {{ cart }}
            </button>
          {% else %}
            <a href="{{ routes.cart_url }}" class="relative" id="cart-icon-bubble" data-id="{{ section.id }}">
              {{ cart }}
            </a>
          {% endif %}
        </div>

      </div>

      <!-- Navigation -->
      {% if section.settings.menu != blank %}
        <nav class="w-fit mx-auto flex flex-shrink-0">
          <ul class="hidden items-center gap-20 md:flex md:gap-30 lg:gap-40" role="list">
            {% for link in section.settings.menu.links %}
              {% assign downcased_link_title = link.title | downcase | strip %}
              {% assign mega_menu_names = '' %}

              {% for block in section.blocks %}
                {% if block.type == 'mega_menu' %}
                  {% assign trim_mega_menu_name = block.settings.title | strip %}
                  {% assign mega_menu_names = mega_menu_names | append: trim_mega_menu_name | append: ',' %}
                {% endif %}
              {% endfor %}

              {% assign mega_menu_names = mega_menu_names | downcase | split: ',' | compact %}
              
              {% unless mega_menu_names contains downcased_link_title %}
                <li class="group/nav">
                  {% if link.links != blank %}
                    <div class="group/link peer py-[7px] cursor-pointer relative">
                      <div class="flex items-center gap-10">
                        <span class="text-nav">{{ link.title | escape }}</span>
                        <div class="absolute bottom-[4px] left-0 right-full border-b-1 border-black transition-position group-hover/link:right-0"></div>
                      </div>

                      <ul class="min-w-[170px] pt-20 px-20 pb-15 flex flex-col gap-5 absolute top-full -translate-x-20 -translate-y-px opacity-0 invisible bg-background border-1 border-beige group-hover/nav:opacity-100 group-hover/nav:visible transition-visibility ease-in-out" role="list" tabindex="-1">
                        {% for child_link in link.links %}
                          <li class="group/childnav relative">
                            <a href="{{ child_link.url }}" class="pb-5 flex items-center gap-10 text-body-4 relative opacity-50 transition-opacity hover:opacity-100"{% if child_link.current %} aria-current="page"{% endif %}>
                              {{ child_link.title | escape }}
                              {% if child_link.links != blank %}
                                <span class="-rotate-90">
                                  {% render 'icon' icon: 'dropdown' %}
                                </span>
                              {% endif %}
                            </a>
                            {% if child_link.links != blank %}
                              <ul class="min-w-[170px] pt-20 px-20 pb-15 flex flex-col gap-5 absolute top-full left-full translate-x-20 -translate-y-20 opacity-0 invisible bg-background border-1 border-beige group-hover/childnav:opacity-100 group-hover/childnav:visible transition-visibility ease-in-out" role="list" tabindex="-1">
                                {% for grandchild_link in child_link.links %}
                                  <li>
                                    <a href="{{ grandchild_link.url }}" class="pb-5 text-body-4 opacity-50 transition-opacity hover:opacity-100"{% if grandchild_link.current %} aria-current="page"{% endif %}>
                                      {{ grandchild_link.title | escape }}
                                    </a>
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% else %}
                    <a href="{{ link.url }}" class="group/link py-[7px] block text-nav relative"{% if link.current %} aria-current="page"{% endif %}>
                      {{ link.title | escape }}
                      <div class="absolute bottom-[4px] left-0 right-full border-b-1 border-black transition-position group-hover/link:right-0"></div>
                    </a>
                  {% endif %}
                </li>
              {% else %}
                <li class="group/nav">
                  <a href="{{ link.url }}" class="py-[7px] flex items-center gap-10 text-nav relative"{% if link.current %} aria-current="page"{% endif %}>
                    {{ link.title | escape }}
                    <div class="absolute bottom-[4px] left-0 right-full border-b-1 border-black transition-position group-hover/nav:right-0"></div>
                  </a>

                  {% for block in section.blocks %}
                    {% assign trim_mega_menu_name = block.settings.title | strip %}
                    {% assign downcased_mega_menu_name = trim_mega_menu_name | downcase %}
                    {% assign mega_menu_names = mega_menu_names | append: trim_mega_menu_name | append: ',' %}
                    
                    {% if downcased_mega_menu_name == downcased_link_title %}
                      <div class="group/megamenu" {{ block.shopify_attributes }}>
                        <div
                          class="
                            w-full absolute top-full left-0 invisible opacity-0 overflow-auto text-left z-20 bg-background border-b-1 border-beige transition-visibility duration-300
                            group-hover/nav:visible group-hover/nav:opacity-100
                            group-[.active]/megamenu:visible group-[.active]/megamenu:opacity-100
                          "
                        >
                          <div class="page-width flex justify-between gap-60">
                            <div class="py-40 flex gap-60 xl:gap-125">
                              {% for child_link in link.links %}
                                <div>
                                  <h2 class="mb-10 text-cta uppercase">{{ child_link.title }}</h2>
                                  <ul class="flex flex-col gap-5">
                                    {% for grandchild_link in child_link.links %}
                                      <li>
                                        <a href="{{ grandchild_link.url }}" class="block text-body-4 opacity-50 transition-opacity hover:opacity-100">{{ grandchild_link.title }}</a>
                                      </li>
                                    {% endfor %}
                                  </ul>
                                </div>
                              {% endfor %}
                            </div>
                            <div class="flex gap-10">
                              {% if block.settings.image_1 != blank %}
                                <div class="relative">
                                  <div class="size-[280px] relative">
                                    {% render 'image'
                                      image: block.settings.image_1,
                                      classes: 'h-full w-full inset object-cover',
                                      sizes: '400x',
                                      include_placeholder: true,
                                      placeholder_name: 'collection-1',
                                      src_set_type: 'grid'
                                    %}
                                  </div>
                                  {% if block.settings.title_1 != blank %}
                                    <p class="py-10 text-body-4">{{ block.settings.title_1 }}</p>
                                  {% endif %}
                                  {% if block.settings.url_1 != blank %}
                                    <a href="{{ block.settings.url_1 }}" class="inset"><span class="hidden visually-hidden">{{ block.settings.title_1 }}</span></a>
                                  {% endif %}
                                </div>
                              {% endif %}
                              {% if block.settings.image_2 != blank %}
                                <div class="relative hidden lg:block">
                                  <div class="size-[280px] relative">
                                    {% render 'image'
                                      image: block.settings.image_2,
                                      classes: 'h-full w-full inset object-cover',
                                      sizes: '400x',
                                      include_placeholder: true,
                                      placeholder_name: 'collection-1',
                                      src_set_type: 'grid'
                                    %}
                                  </div>
                                  {% if block.settings.title_2 != blank %}
                                    <p class="py-10 text-body-4">{{ block.settings.title_2 }}</p>
                                  {% endif %}
                                  {% if block.settings.url_2 != blank %}
                                    <a href="{{ block.settings.url_2 }}" class="inset"><span class="hidden visually-hidden">{{ block.settings.title_2 }}</span></a>
                                  {% endif %}
                                </div>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </li>
              {% endunless %}
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </div>

    {% if section.settings.enable_search %}
      {% render 'search-dropdown' %}
    {% endif %}
  </header>
</site-header>

<style>
  :root {
    --header-height: 90px;
    --header-group-height: 121px;
  }

  .header-logo {
    width: {{ section.settings.logo_width }}px;
  }

  @media screen and (max-width: 767px) {
    :root {
      --header-height: 61px;
      --header-from-top: 92px;
    }

    .header-logo {
      width: {{ section.settings.mobile_logo_width }}px;
    }
  }
</style>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": {{ shop.name | json }},
    "potentialAction": {
      "@type": "SearchAction",
      "target": {{ potential_action_target | json }},
      "query-input": "required name=search_term_string"
    },
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{% schema %}
{
  "name": "Header",
  "class": "site-header",
  "settings": [
    {
      "type": "header", 
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "additional_menu",
      "label": "Additional Menu"
    },
    {
      "type": "checkbox",
      "id": "enable_search",
      "label": "Enable Search",
      "default": true
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        { "value": "center", "label": "Center" },
        { "value": "left", "label": "Left" }
      ],
      "default": "center",
      "label": "Desktop Logo Position"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Logo Width",
      "default": 125
    },
    {
      "type": "range",
      "id": "mobile_logo_width",
      "min": 50,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Mobile Logo Width",
      "default": 110
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "Mega Menu",
      "settings": [
        {
          "type": "header",
          "content": "Config"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Menu Item",
          "info": "Enter menu item to apply a mega menu dropdown."
        },
        {
          "type": "header",
          "content": "Block 1"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title_1",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "url_1",
          "label": "Link"
        },
        {
          "type": "header",
          "content": "Block 2"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title_2",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "url_2",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
