<div class="min-h-[100vh] flex justify-center items-center relative" style="background-color: {{ section.settings.background_color }};">
  {% liquid
    assign desktop_classes = 'size-full inset object-cover'
    if section.settings.mobile_image != blank
      assign desktop_classes = 'size-full inset object-cover hidden md:block'
    endif
  %}

  {% if section.settings.background_image != blank %}
    {% render 'image'
      image: section.settings.background_image,
      classes: desktop_classes,
      sizes: '100vw',
      include_placeholder: true,
      placeholder_name: 'lifestyle-2',
      src_set_type: 'full-width',
      prioritize_loading: true
    %}
  {% endif %}

  {% if section.settings.mobile_image != blank %}
    {% render 'image'
      image: section.settings.mobile_image,
      classes: 'size-full inset object-cover md:hidden',
      sizes: '100vw',
      include_placeholder: true,
      placeholder_name: 'lifestyle-2',
      src_set_type: 'full-width',
      prioritize_loading: true
    %}
  {% endif %}

  <div class="max-w-custom w-full mx-auto relative" style="--width: 515px;">
    

    <div class="mx-20 px-20 pt-50 pb-30 md:px-40 md:pt-60 md:pb-40{% if section.settings.content_color == 'light' %} text-white{% endif %}"{% if section.settings.content_background_color != blank %} style="background-color: {{ section.settings.content_background_color }};"{% endif %}>
      <div class="logo mb-70 mx-auto text-center md:w-auto md:h-auto">
        {% if section.settings.logo != blank %}
          <a href="{{ routes.root_url }}" class="block relative" aria-label="Header Logo Link">
            {% if enable_transparent_header and section.settings.transparent_logo != blank %}
              {{ section.settings.transparent_logo | image_url: width: 250 | image_tag: width: section.settings.transparent_logo.width, class: 'header-logo-transparent absolute top-0 transition-opacity group-hover/header:opacity-0 group-[.scrolled]/html:opacity-0', sizes: '250px', widths: '100, 150, 200, 300' }}
              {{ section.settings.logo | image_url: width: 250 | image_tag: width: section.settings.logo.width, class: 'header-logo w-full opacity-0 transition-opacity group-hover/header:opacity-100 group-[.scrolled]/html:opacity-100', sizes: '250px', widths: '100, 150, 200, 300' }}
            {% else %}
              {{ section.settings.logo | image_url: width: 250 | image_tag: width: section.settings.logo.width, class: 'header-logo w-full', sizes: '250px', widths: '100, 150, 200, 300' }}
            {% endif %}
          </a>
        {% else %}
          <a href="{{ routes.root_url }}" class="py-10 text-m-h2 font-serif italic md:p-0 md:text-h2">{{ shop.name }}</a>
        {% endif %}
      </div>

      {% form 'storefront_password', class: 'password-form' %}
        <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
          <label class="field__label text-center" for="{{ 'general.password_page.login_form_password_label' | t }}">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
          <div class="flex border-1 border-black">
            <input
              type="password"
              name="password"
              id="Password"
              class="field__input py-13 border-0"
              autocomplete="current-password"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="PasswordLoginForm-password-error"
              {% endif %}
              placeholder="Password"
            >
            {% if form.errors %}
              <div id="PasswordLoginForm-password-error" role="status">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">{% render 'icon' icon: 'error' %} {{ 'general.password_page.login_form_error' | t }}</span>
              </div>
            {% endif %}
            <button name="commit" class="p-10">{% render 'icon' icon: 'arrow' %}</button>
          </div>
        </div>
      {% endform %}
    </div>
  </div>
</div>

<style>
  .logo {
    width: {{ section.settings.logo_width }}px;
  }

  @media screen and (max-width: 767px) {
    .logo {
      width: {{ section.settings.mobile_logo_width }}px;
    }
  }
</style>

{% schema %}
  {
    "name": "Password",
    "settings": [
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "range",
        "id": "logo_width",
        "min": 50,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Logo Width",
        "default": 145
      },
      {
        "type": "range",
        "id": "mobile_logo_width",
        "min": 50,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Mobile Logo Width",
        "default": 110
      },
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_background_image",
        "label": "Mobile Background Image"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "color",
        "id": "content_background_color",
        "label": "Content Background Color",
        "default": "#FFFFFF"
      },
      {
        "type": "select",
        "id": "content_color",
        "options": [
          { "value": "light", "label": "Light" },
          { "value": "dark", "label": "Dark" }
        ],
        "default": "dark",
        "label": "Content Color"
      }
    ]
  }
{% endschema %}