{% liquid
  assign product_url = shop.url | append: product.url

  assign slider_desktop_style = section.settings.slider_style
  assign slider_mobile_style = section.settings.mobile_slider_style
%}

<product-section>
  <div class="page-width max-w-[1540px] mx-auto">
    <div class="product md:grid{% if slider_desktop_style == 'thumbnails' %} md:mt-20 md:grid-cols-[minmax(0,1fr)_minmax(0,1fr)] md:gap-40 lg:grid-cols-[minmax(0,1fr)_455px] lg:gap-90{% else %} md:grid-cols-[minmax(0,1fr)_365px] md:gap-40 xxxl:grid-cols-[minmax(0,0.65fr)_minmax(0,0.35fr)]{% endif %}">
      <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
        {{ "accessibility.skip_to_product_info" | t }}
      </a>

      <div class="-mx-20 px-20 relative overflow-hidden md:m-0 md:p-0 md:overflow-visible">
        <product-slider
          class="
            sticky-bar flex
            {% if slider_desktop_style == 'thumbnails' and product.media.size > 1 %} lg:grid lg:grid-cols-[minmax(0,0.2fr)_minmax(0,1fr)] lg:gap-20 xl:grid-cols-[125px_minmax(0,1fr)]{% else %} block{% endif %}
            {% if slider_mobile_style == 'center' %} px-15 md:p-0{% endif %}
          "
          data-desktop-style="{{ slider_desktop_style }}"
          data-mobile-style="{{ slider_mobile_style }}"
        >
          {% if slider_desktop_style == 'thumbnails' and product.media.size > 1 %}
            <div class="relative hidden lg:block">
              <div class="product-thumbs swiper w-full inset md:overflow-hidden" style="position: absolute">
                <div class="swiper-wrapper">
                  {% for media in product.media %}
                    {%- liquid
                      assign prioritize_loading = false

                      if forloop.index < 3
                        assign prioritize_loading = true
                      endif
                    -%}
                    <div class="swiper-slide group/thumb cursor-pointer" aria-label="Product Thumbnail {{ forloop.index }}" style="height: auto; aspect-ratio: 1 / 1;" data-media-id="thumbs-{{ section.id }}-{{ media.id }}">
                      <div class="aspect-product overflow-hidden relative border-1 border-transparent transition-colors group-[.swiper-slide-thumb-active]/thumb:border-black">
                        {% render 'image'
                          image: media,
                          classes: 'size-full inset object-cover',
                          sizes: '300x',
                          include_placeholder: true,
                          placeholder_name: 'product-1',
                          src_set_type: 'thumbnail',
                          prioritize_loading: prioritize_loading
                        %}

                        {% if media.media_type == 'video' %}
                          <span class="inset flex justify-center items-center bg-black/5 text-white [&_svg]:w-40 [&_svg]:h-auto">{% render 'icon' icon: 'play' %}</span>
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
          <div class="product-slider product-slider-{{ section.id }} swiper w-full md:overflow-hidden">
            <div class="swiper-wrapper{% if slider_desktop_style == 'grid' %} md:grid md:grid-cols-2 md:gap-[8px]{% endif %}">
              {% for media in product.media %}
                {% if media.media_type == "image" %}
                  {% assign image_variants = product.images | where: 'src', media.src | first %}
                {% endif %}
                {%- liquid
                  assign image_zoom = false
                  assign prioritize_loading = false
                  assign image_ratio = 'aspect-product'

                  if forloop.index < 3
                    assign prioritize_loading = true
                  endif

                  if product.type == 'Gift Card'
                    assign image_ratio = 'aspect-square'
                  endif
                -%}
                <div aria-label="Product Main Image {{ forloop.index }}" data-initial-slide="{% if product.selected_or_first_available_variant.image == media %}true{% else %}false{% endif %}" data-media-index="{{ forloop.index0 }}" class="swiper-slide relative" data-media-id="{{ section.id }}-{{ media.id }}" {% if media.media_type == "image" %}data-image-variants="{{ image_variants.variants | map: 'id' | join: "," }}"{% endif %}>
                  {% if section.settings.zoom_type == 'hover' and media.media_type != 'video' %}<image-zoom> {% assign image_zoom = true %}{% endif %}
                  <div class="group/image overflow-hidden relative {{ image_ratio }}">
                    {% if media.media_type == 'video' %}
                      {{ media | video_tag: autoplay: true, loop: true, muted: true, controls: false, class: 'size-full inset object-cover', image_size: '800x' }}
                    {% else %}
                      {% render 'image'
                        image: media,
                        classes: 'size-full inset object-cover',
                        sizes: '(min-width: 769px) 60vw, 100vw',
                        include_placeholder: true,
                        placeholder_name: 'product-1',
                        src_set_type: 'full-width',
                        prioritize_loading: prioritize_loading,
                        image_zoom: image_zoom
                      %}
                    {% endif %}

                    {% if section.settings.zoom_type == 'lightbox' and product.type != 'Gift Card' %}
                      <button class="absolute left-10 bottom-10 opacity-0 transition-opacity text-white group-hover/image:opacity-100" data-open-zoom data-index="{{ forloop.index0 }}">
                        {% render 'icon' icon: 'expand' %}
                      </button>
                    {% endif %}
                  </div>
                  {% if section.settings.zoom_type == 'hover' %}</image-zoom>{% endif %}
                </div>
              {% endfor %}
            </div>
            <div
              class="
                absolute z-20
                {% if slider_desktop_style == 'grid' %} md:hidden{% else %} lg:hidden{% endif %}
                {% if slider_mobile_style == 'center' %} bottom-20 left-half -translate-x-half{% else %} bottom-13 left-13{% endif %}
              "
            >
              <div class="swiper-pagination"></div>
            </div>
          </div>

        </product-slider>
        <div class="absolute z-20 md:hidden{% if slider_mobile_style == 'center' %} top-10 left-0{% else %} top-13 left-13{% endif %}">
          {% render 'product-badges' prod: product %}
        </div>
      </div>

      <div id="ProductInfo-{{ section.id }}" class="">
        {% assign product_form_id = 'product-form-' | append: section.id %}

        <div class="mb-10 hidden md:block">
          {% render 'breadcrumbs' breadcrumbs_only: true %}
        </div>

        <div class="sticky-bar w-full pt-20">

          <div class="flex flex-col gap-10">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'title' %}
                  <h1 class="mb-10 text-m-h2 font-serif md:text-h3" {{ block.shopify_attributes }}>
                    {{ product.title | escape }}
                  </h1>
                {% when 'price' %}
                  {% unless product.type == 'Gift Card' %}
                    <div {{ block.shopify_attributes }}>
                      {% render 'price' product: product, classes: 'mb-10 text-m-sh1 md:text-body-2' %}
                    </div>
                  {% endunless %}
                {% when 'badge' %}
                  <div class="mb-10 hidden md:block" {{ block.shopify_attributes }}>
                    {% render 'product-badges' prod: product %}
                  </div>
                {% when 'description' %}
                  <div class="rte my-10 text-body-4" {{ block.shopify_attributes }}>
                    {{ product.description }}
                  </div>
                {% when 'form' %}
                  <div {{ block.shopify_attributes }}>
                    {% render 'product-form' prod: product, product_form_id: product_form_id, change_url: true %}

                    {% if section.settings.extra_text != blank %}
                      <p class="mt-10 text-caption font-serif text-center">{{ section.settings.extra_text }}</p>
                    {% endif %}
                  </div>
                {% when 'dropdown' %}
                  <div class="mt-40 mb-20 border-t-1 border-tan md:mt-30" {{ block.shopify_attributes }}>
                    <dropdown-item>
                      <div class="group/dropdown border-b-1 border-tan" data-dropdown>
                        <button class="w-full py-20 flex justify-between text-m-sh2 uppercase md:text-sh2" data-dropdown-toggle>
                          Specifications
                          <span class="rotate-90 transition-transform group-[.active]/dropdown:rotate-[270deg]">
                            {% render 'icon' icon: 'caret' %}
                          </span>
                        </button>
                        <div class="hidden group-[.active]/dropdown:block" aria-hidden="true" data-dropdown-content>
                          <div class="rte pb-20 text-m-body-2 md:text-body-4">
                            <table>
                              {% if product.metafields.custom.led_color_temperature != blank %}
                                <tr>
                                  <td class="text-m-body-2 font-semibold">Color Temperature</td>
                                  <td class="py-5 px-10 text-m-body-2">{{ product.metafields.custom.led_color_temperature }}</td>
                                </tr>
                              {% endif %}
                              {% if product.metafields.custom.primary_dimension != blank %}
                                <tr>
                                  <td class="text-m-body-2 font-semibold">Primary Dimension</td>
                                  <td class="py-5 px-10 text-m-body-2">{{ product.metafields.custom.primary_dimension }}</td>
                                </tr>
                              {% endif %}
                              {% if product.metafields.custom.fixture_dimensions != blank %}
                                <tr>
                                  <td class="text-m-body-2 font-semibold">Fixture Dimensions</td>
                                  <td class="py-5 px-10 text-m-body-2">{{ product.metafields.custom.fixture_dimensions }}</td>
                                </tr>
                              {% endif %}
                              {% if product.metafields.custom.location_rating != blank %}
                                <tr>
                                  <td class="text-m-body-2 font-semibold">Location Rating</td>
                                  <td class="py-5 px-10 text-m-body-2">{{ product.metafields.custom.location_rating }}</td>
                                </tr>
                              {% endif %}
                              {% if product.metafields.custom.wattage != blank %}
                                <tr>
                                  <td class="text-m-body-2 font-semibold">Wattage</td>
                                  <td class="py-5 px-10 text-m-body-2">{{ product.metafields.custom.wattage }}</td>
                                </tr>
                              {% endif %}
                              {% if product.metafields.custom.cri != blank %}
                                <tr>
                                  <td class="text-m-body-2 font-semibold">CRI</td>
                                  <td class="py-5 px-10 text-m-body-2">{{ product.metafields.custom.cri }}</td>
                                </tr>
                              {% endif %}
                              {% if product.metafields.custom.led_total_lumens != blank %}
                                <tr>
                                  <td class="text-m-body-2 font-semibold">LED Total Lumens</td>
                                  <td class="py-5 px-10 text-m-body-2">{{ product.metafields.custom.led_total_lumens }}</td>
                                </tr>
                              {% endif %}
                              {% if product.metafields.custom.fixture_delivered_lumens != blank %}
                                <tr>
                                  <td class="text-m-body-2 font-semibold">Fixture Delivered Lumens</td>
                                  <td class="py-5 px-10 text-m-body-2">{{ product.metafields.custom.fixture_delivered_lumens }}</td>
                                </tr>
                              {% endif %}
                              {% if product.metafields.custom.led_life_span_hr != blank %}
                                <tr>
                                  <td class="text-m-body-2 font-semibold">LED Life Span</td>
                                  <td class="py-5 px-10 text-m-body-2">{{ product.metafields.custom.led_life_span_hr }}</td>
                                </tr>
                              {% endif %}
                              {% if product.metafields.custom.fixture_input_voltage != blank %}
                                <tr>
                                  <td class="text-m-body-2 font-semibold">Fixture Input Voltage</td>
                                  <td class="py-5 px-10 text-m-body-2">{{ product.metafields.custom.fixture_input_voltage }}</td>
                                </tr>
                              {% endif %}
                              {% if product.metafields.custom.illumination_direction != blank %}
                                <tr>
                                  <td class="text-m-body-2 font-semibold">Illumination Direction</td>
                                  <td class="py-5 px-10 text-m-body-2">{{ product.metafields.custom.illumination_direction }}</td>
                                </tr>
                              {% endif %}
                              {% if product.metafields.custom.material != blank %}
                                <tr>
                                  <td class="text-m-body-2 font-semibold">Material</td>
                                  <td class="py-5 px-10 text-m-body-2">{{ product.metafields.custom.material }}</td>
                                </tr>
                              {% endif %}
                              {% if product.metafields.custom.diffuser_material != blank %}
                                <tr>
                                  <td class="text-m-body-2 font-semibold">Diffuser Material</td>
                                  <td class="py-5 px-10 text-m-body-2">{{ product.metafields.custom.diffuser_material }}</td>
                                </tr>
                              {% endif %}
                              {% if product.metafields.custom.etl_compliant != blank %}
                                <tr>
                                  <td class="text-m-body-2 font-semibold">ETL Compliant</td>
                                  <td class="py-5 px-10 text-m-body-2">{{ product.metafields.custom.etl_compliant }}</td>
                                </tr>
                              {% endif %}
                              {% if product.metafields.custom.country_of_origin != blank %}
                                <tr>
                                  <td class="text-m-body-2 font-semibold">Country of Origin</td>
                                  <td class="py-5 px-10 text-m-body-2">{{ product.metafields.custom.country_of_origin }}</td>
                                </tr>
                              {% endif %}
                            </table>
                          </div>
                        </div>
                      </div>
                    </dropdown-item>

                    <dropdown-item>
                      <div class="group/dropdown border-b-1 border-tan" data-dropdown>
                        <button class="w-full py-20 flex justify-between text-m-sh2 uppercase md:text-sh2" data-dropdown-toggle>
                          Downloads
                          <span class="rotate-90 transition-transform group-[.active]/dropdown:rotate-[270deg]">
                            {% render 'icon' icon: 'caret' %}
                          </span>
                        </button>
                        <div class="hidden group-[.active]/dropdown:block" aria-hidden="true" data-dropdown-content>
                          <div class="rte pb-20 text-m-body-2">
                            <ul>
                              {% if product.metafields.custom.spec_sheet_url != blank %}
                                <li><a href="{{ product.metafields.custom.spec_sheet_url }}" target="_blank">WV346006 Spec Sheet</a></li>
                              {% endif %}
                              {% if product.metafields.custom.install_sheet_url != blank %}
                                <li><a href="{{ product.metafields.custom.install_sheet_url }}" target="_blank">WV346006 Installation Instructions</a></li>
                              {% endif %}
                              {% if product.metafields.custom.ies_zip_url != blank %}
                                <li><a href="{{ product.metafields.custom.ies_zip_url }}" target="_blank">IES Files</a></li>
                              {% endif %}
                              {% if product.metafields.custom.revit_files_zip != blank %}
                                <li><a href="{{ product.metafields.custom.revit_files_zip }}" target="_blank">REVIT Files</a></li>
                              {% endif %}
                              {% if product.metafields.custom.dimmer_pdf_url != blank %}
                                <li><a href="{{ product.metafields.custom.dimmer_pdf_url }}" target="_blank">Suggested Dimmers</a></li>
                              {% endif %}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </dropdown-item>
                  </div>
                {% when 'upsells' %}
                  {% if block.settings.product_upsells != blank %}
                    {% assign upsell_count = block.settings.upsell_count | times: 1.0 | round %}
                    <div class="mt-40">
                      {% if block.settings.upsell_title != blank %}
                        <p class="mb-20 text-h3 font-serif md:text-h4">{{ block.settings.upsell_title }}</p>
                        <div class="{% if upsell_count == 2 %} grid grid-cols-2 gap-20{% endif %}">
                          {% for current_product in block.settings.product_upsells limit: upsell_count %}
                            {% liquid
                              assign size = 'small'
                              if upsell_count == 1
                                assign size = 'large'
                              endif
                            %}
                            {% render 'product-upsell' prod: current_product, size: size %}
                          {% endfor %}
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                {% when 'share' %}
                  <div>
                    {% render 'social-sharing' url: product_url, image: product.featured_image %}
                  </div>
                {% when 'value_props' %}
                  <div class="my-30 px-15 border-1 border-tan [&_p]:py-10 [&_p]:text-body-3 [&_p]:border-b-1 [&_p:last-child]:border-0 [&_p]:border-tan">{{ section.settings.value_props }}</div>
              {% endcase %}
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>

  {% comment %} {% render 'product-bar' prod: product %} {% endcomment %}

  {% if section.settings.zoom_type == "lightbox" %}
    {% render 'product-lightbox' %}
  {% endif %}
</product-section>

<style>
  @media screen and (max-width: 767px) {
    product-section {
      overflow: hidden;
    }

    .product-slider-{{ section.id }} {
      overflow: visible;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });

    // Function to remove unnecessary aria attributes
    function removeAriaAttributes() {
      document.querySelectorAll('.swiper [aria-live], .swiper [aria-atomic]').forEach((element) => {
        element.removeAttribute('aria-live');
        element.removeAttribute('aria-atomic');
      });
    }
    
    // Run the function to clean existing elements
    removeAriaAttributes();
    
    // Observe changes and clean dynamically added elements
    const observer = new MutationObserver(() => {
      removeAriaAttributes();
    });
    
    // Start observing the Swiper container for changes
    observer.observe(document.querySelector('.swiper'), {
      childList: true,
      subtree: true,
    });
  });
</script>

{% liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
%}

<script type="application/ld+json">
  {{ product | structured_data }}
</script>

{% schema %}
  {
    "name": "Product",
    "settings": [
      {
        "type": "header",
        "content": "Slider"
      },
      {
        "type": "select",
        "id": "zoom_type",
        "label": "Zoom Type",
        "options": [
          {"label": "Lightbox", "value": "lightbox"},
          {"label": "Hover", "value": "hover"},
          {"label": "None", "value": "none"}
        ],
        "default": "lightbox"
      },
      {
        "type": "select",
        "id": "slider_style",
        "options": [
          { "value": "grid", "label": "Grid" },
          { "value": "thumbnails", "label": "Thumbnails" }
        ],
        "default": "grid",
        "label": "Desktop Slider Style"
      },
      {
        "type": "select",
        "id": "mobile_slider_style",
        "options": [
          { "value": "center", "label": "Centered" },
          { "value": "left", "label": "Left Aligned" }
        ],
        "default": "center",
        "label": "Mobile Slider Style"
      }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "Title",
        "settings": [

        ]
      },
      {
        "type": "price",
        "name": "Price",
        "settings": [

        ]
      },
      {
        "type": "badge",
        "name": "Badge",
        "settings": [

        ]
      },
      {
        "type": "description",
        "name": "Description",
        "settings": [

        ]
      },
      {
        "type": "form",
        "name": "Form",
        "settings": [
          {
            "type": "text",
            "id": "extra_text",
            "label": "Extra Text"
          }
        ]
      },
      {
        "type": "dropdown",
        "name": "Dropdown",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      },
      {
        "type": "upsells",
        "name": "Upsells",
        "settings": [
          {
            "type": "text",
            "id": "upsell_title",
            "label": "Upsell Title"
          },
          {
            "type": "product_list",
            "id": "product_upsells",
            "label": "Product Upsells"
          },
          {
            "type": "select",
            "id": "upsell_count",
            "options": [
              { "value": "1", "label": "1" },
              { "value": "2", "label": "2" }
            ],
            "default": "2",
            "label": "Upsell Count"
          }
        ]
      },
      {
        "type": "share",
        "name": "Share",
        "settings": [

        ]
      },
      {
        "type": "value_props",
        "name": "Value Props",
        "settings": [
          {
            "type": "richtext",
            "id": "value_props",
            "label": "Value Props"
          }
        ]
      }
    ]
  }
{% endschema %}
